@import '../variables.scss';
@import '../mixins.scss';
@import '../extend.scss';

.container-carrousel {
    position: relative;
    width: $width-100;
    height: auto;
}

.carrousel-counter {
    position: absolute;
    font-weight: $font-weight-500;
    color: $color-secondary;
    bottom: 0;
    left: 50%;
    font-size: 18px;

    @include mobile-only {
        font-size: 15px;
    }
}

.container-vector-left {
    @extend .position-vector;
    right: 25px;

    img {
        @include mobile-only {
            width: 25px;
        }
    }
}

.container-vector-right {
    @extend .position-vector;
    left: 25px;

    img {
        @include mobile-only {
            width: 25px;
        }
    }
}

.carrousel-img-actif {
    display: block;
    border-radius: $border-radius-25;
    height: 400px;
    object-fit: cover;
    width: $width-100;

}

.carrousel-img {
    border-radius: 15px;
    object-fit: cover;
    display: none;
    width: $width-100
}