.Banner-box{
    position: relative;
    align-self: center;
    img{
        border-radius: 25px;
        opacity:3.8;
        width:100%;
        filter: brightness(0.8);
    }
    h1{
        color: white;
        font-weight: 500;
        position: absolute;
        font-size: 40px;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        margin: auto;
        text-align: center;
    }
}
