.Banner-box{
    position: relative;
    align-self: center;
    img{
        border-radius: 25px;
        opacity:3.8;
        width:100%;
    }
    h1{
        color: white;
        font-weight: 500;
        position: absolute;
        font-size: 48px;
        top: 50%;
        transform: translateY(-50%);
        left: 165px;
        margin: 0;
        font-family:"montserrat", sans-serif;
    }
}
