.container-error{
    text-align: center;
    margin-top: 100px;
}
.error-p{
    margin: 60px 0px 150px 0px;
        font-weight: 500;
        color:#FF6060;
        font-size: 30px;
}

.error-navlink{
    color:#FF6060;
}