@import './variables.scss';

.typography {
    color: $color-primary;
    font-weight: $font-weight-500;
    padding: $padding-none;
    margin: 0;
}

.flexbox-space-between {
    display: flex;
    justify-content: space-between;
}

.flexbox-direction-column {
    display: flex;
    flex-direction: column;
}