header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px 15px 35px;
    img{
        cursor: pointer;
        width: 145px;
        height: 47px;
    }
}

header a {
    color :#FF6060;
    font-size: 24px;
    font-weight: 500;
    margin-left:40px;
    
}

header ul{
    display : flex;
    padding: 0;
    
}

header li{
    list-style: none;
    
}





