.home{
    display:flex;
    flex-direction:column;
}
.home-box-flat{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 90px;
    padding: 35px;
    background-color: #F7F7F7;
    border-radius:25px;
    @media screen and (max-width:986px){
        flex-direction: column;
        padding:0;
        background-color: white;
    }
    @media screen and (max-width:600px){
        margin: 15px 20px 0px 20px;
    }
    li {
        height: 340px;
        list-style-type: none;
        margin: 10px;
        max-width: 340px;
        position: relative;
        @media screen and (max-width:986px){
           max-width: none;
           margin:0;
           margin-bottom: 20px;
        }
    }
}